﻿@import '~@nativescript/theme/css/core.css';
@import '~@nativescript/theme/css/orange.css';

.ico {
    font-family: 'IcoMoon-Free';
    font-size: 24;
}

TabStrip {
    selected-item-color: white;
    un-selected-item-color: white;
    highlight-color: white;
}

ScrollView {
    height: 100%;
    width: 100%;
}

ListView {
    height: 100%;
    width: 100%;
}

ActionBar {
    font-size: 72;
}

#fab {
    width: 56;
    height: 56;
    position: fixed;
    border-radius: 28;
    background-color: #f57c00;
}

.fabIcon {
    color: white;
    font-size: 26;
    padding: 12;
}

.favorite {
    font-size: 24;
    color: gold;
    margin-top: -16;
} 

.listIcon {
    font-size: 24;
    margin-left: 20;
    margin-top: -16;
}

.listTitle {
    font-size: 18;
}

.noteStyle {
    border-color: black;
    padding: -5 0 -5;
}

.listItem {
   margin-bottom: -18;
}

.noteText {
    margin-left: 10;
}

.simpleListTitle {
    font-size: 18;
    margin-left: 25;
}

.simpleListText {
    padding: 6 0 6;
}

.simpleListIcon {
    font-size: 24;
    margin-left: 20;
}